
.info-text, .info-text a, .info-text .link,
.info-text p, .info-text span {
    text-align: center;
    font-size: 0.78rem;
    opacity: 75%;

    margin-top: 8px;
    margin-bottom: 8px;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
