.justify-center {
    display: flex;
    justify-content: center;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-in-short {
    animation: fadeIn .25s ease-in;
}

.fade-out-short {
    animation: fadeOut .25s ease-out;
}

.fade-in-00-250 {
    animation: fadeIn .25s ease-in;
}

.fade-out-00-250 {
    animation: fadeOut .25s ease-out;
}
