:root {
    color-scheme: light dark;
    --main-fnt-fam: "Montserrat", sans-serif;
    --main-fnt-fam-accent: sans-serif;
}

html {
    --main-bg1-color: #AAA;
    --main-bg2-color: #FFF;
    --main-bg-accent-color: #CCC;
    --main-txt-color: #000;
    --main-txt-sup-color: gray;
    --main-txt-link-color: #6161FF;
    --main-txt-accent-color: #444;
}

html[data-theme="dark"] {
    --main-bg1-color: #000;
    --main-bg2-color: #222;
    --main-bg-accent-color: #555;
    --main-txt-color: whitesmoke;
    --main-txt-sup-color: rgb(74, 73, 73);
    --main-txt-link-color: #6161FF;
    --main-txt-accent-color: whitesmoke;    
}


body {
    display: block;
    min-width: fit-content;
    max-width: 1020px;
    margin: 0 auto;
    animation: fadeIn 0.75s ease-out;
}

select, input:not([type="submit"], [type="reset"], [type="button"]) {
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-txt-accent-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--main-txt-link-color);
}

.fter-links {
    display: flex;
    list-style-type: none;
}

.fter-links a {
    margin-left: 5px;
}

.fter-links li:first-child a {
    margin-left: 0;
}

.info-text {
    color: var(--main-txt-sup-color);
}

.info-text, .info-text * {
    text-align: center;
    font-size: 0.78rem;

    margin-top: 8px;
    margin-bottom: 8px;
}

#theme-toggle-btn, #theme-toggle-btn img {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#theme-toggle-dark {
    filter: invert(1);
}

html:not([data-theme="dark"]) #theme-toggle-dark {
    display: none;
}

html:not([data-theme="light"]) #theme-toggle-light {
    display: none;
}

#settings-card {
    display: flex;
    justify-content: center;

    margin: 0 25px;
    background-color: var(--main-bg2-color);
    border-radius: 25px;
    padding: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-accent-color);
}

#settings-form {
    width: 100%;
    position: relative;
}

#settings-form h1 {
    font-size: 1.55rem;
    text-align: center;
}

#engines {
    margin-top: 15px;
}

#engines table {
    width: 100%;
    margin-top: 15px;
}

#engine-placeholder, #eval-mode, #window-target {
    width: 125px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

select, #engine-placeholder {
    text-align: center;
}

img[src="./assets/arrow_up.svg"],
img[src="./assets/arrow_down.svg"],
img[src="./assets/x.svg"] {
    filter: invert(1);
}

#engine-add-button {
    margin-bottom: 0;
}

.engine-number {
    text-align: center;
}

.engine-url {
    width: 100%;
    padding-right: 5px;
}

.engine-url input {
    width: 100%;
    min-width: 300px;
}

.inf-btn {
    cursor: pointer;
    filter: invert(1);
}

#inf-box-bckrnd {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .70);
}

#inf-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: fit-content;
    min-width: 400px;
    max-width: 800px;

    background-color: var(--main-bg2-color);
    border-radius: 25px;
    padding: 15px;
    margin: 0 25px;
    margin-bottom: 10vh;

    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-accent-color);
}

#inf-box h2 {
    text-align: center;
}

#inf-box-close-btn {
    margin-bottom: 0;
}
