
#main {
    display: block;
    min-width: fit-content;
    max-width: 1100px;
    margin: 0 auto;
}

#settings-card {
    display: flex;
    justify-content: center;

    margin: 0 25px;
    background-color: var(--main-bg2-color);
    border-radius: 25px;
    padding: 20px;
}

#settings-form > h2 {
    font-size: 1.55rem;
    text-align: center;
}

#engine-placeholder, #eval-mode, #window-target {
    width: 125px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

img[src="./assets/arrow_up.svg"], img[src="./assets/arrow_down.svg"], img[src="./assets/x.svg"] {
    filter: invert(1);
}

#engine-add-button {
    margin-bottom: 0;
}

.engine-name input {
    width: 200px;
}

.engine-url input {
    width: 300px;
}
