/* This has to be defined in every page after this */
html {
    --main-bg1-color: #000;
    --main-bg2-color: #000;
    --main-bg-accent-color: #fff;
    --main-txt-color: #fff;
    --main-txt-sup-color: #555;
    --main-txt-link-color: #00f;
    --main-txt-accent-color: #000;
    --main-accent-filter: invert(0%);
    --main-fnt-fam: sans-serif;
    --main-fnt-fam-accent: sans-serif;
}

* {
    color: var(--main-txt-color);
    font-size: 1.01rem;
    font-style: normal;
    font-family: var(--main-fnt-fam);

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg1-color);
}

a, .link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--main-txt-link-color);
}

label {
    cursor: text;
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px;
    width: 1%;
}

footer, footer *{
    font-size: 0.85rem;
    color: var(--main-txt-sup-color);
}

button, input, select {
    background-color: var(--main-bg-accent-color);
    color: var(--main-txt-accent-color);
    font-family: sans-serif;

    height: 30px;
    margin: 2px;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    transition: box-shadow .3s, scale .2s;
}

button, input[type="button"],
input[type="submit"], input[type="reset"] {
    margin: 6px 2px;
    cursor: pointer;
}

button:hover, input[type="button"]:hover,
input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow: 0 2px 5px #000;
    scale: 1.04;
}

.svg-img-btn {
    filter: var(--main-accent-filter);
}
