/* default values */
html {
    --main-bg1-color: #000;
    --main-bg2-color: #000;
    --main-bg-accent-color: #fff;
    --main-txt-color: #fff;
    --main-txt-sup-color: #555;
    --main-txt-link-color: #00f;
    --main-txt-accent-color: #000;
    --main-accent-filter: invert(0%);
    --main-fnt-fam: sans-serif;
    --main-fnt-fam-accent: sans-serif;
}

/* default for this project */
html {
    --main-bg1-color: #fff;
    --main-bg2-color: #f0f0f0;
    --main-bg-accent-color: #ddd;
    --main-txt-color: #333;
    --main-txt-sup-color: #666;
    --main-txt-link-color: #007bff;
    --main-txt-accent-color: #333;
    --main-accent-filter: brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(85%);;
}

/* default for this project */
html[data-theme="dark"] {
    --main-bg1-color: #000;
    --main-bg2-color: #222;
    --main-bg-accent-color: #555;
    --main-txt-color: whitesmoke;
    --main-txt-sup-color: rgb(74, 73, 73);
    --main-txt-link-color: #6161FF;
    --main-txt-accent-color: whitesmoke;    
    --main-accent-filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(394%) hue-rotate(250deg) brightness(116%) contrast(92%);
}

* {
    color: var(--main-txt-color);
    font-size: 1.01rem;
    font-style: normal;
    font-family: var(--main-fnt-fam);

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg1-color);
}

h1 {
    font-size: 1.55rem;
}

a, .link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--main-txt-link-color);
}

label {
    cursor: text;
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px;
    width: 1%;
}

footer, footer *{
    font-size: 0.85rem;
    color: var(--main-txt-sup-color);
}

button, input, select {
    background-color: var(--main-bg-accent-color);
    color: var(--main-txt-accent-color);
    font-family: sans-serif;

    height: 30px;
    margin: 2px;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    transition: box-shadow .3s, scale .2s;
}

button, input[type="button"],
input[type="submit"], input[type="reset"] {
    margin: 6px 2px;
    cursor: pointer;
}

button:hover, input[type="button"]:hover,
input[type="submit"]:hover, input[type="reset"]:hover {
    box-shadow: 0 2px 5px #000;
    scale: 1.04;
}

html[browser="none"] .chromium-only,
html[browser="none"] .firefox-only {
    display: none;
}
html[browser="firefox"] .chromium-only {
    display: none;
}
html[browser="chromium"] .firefox-only {
    display: none;
}

.svg-img-btn {
    filter: var(--main-accent-filter);
}

#main-card {
    display: flex;
    justify-content: center;

    margin: 0 25px;
    background-color: var(--main-bg2-color);
    border-radius: 25px;
    padding: 20px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--main-bg-accent-color);
}
